<% set_page_title "FOURTHSTRAVAGANZA HOUSE CUP MERITS & DEMERITS" %>

<h1>FOURTHSTRAVAGANZA HOUSE CUP MERITS & DEMERITS</h1>

<a class="nav" href="<%= url_for :action => :index %>">Back to House Cup standings</a>

<table class="stream" cellpadding="0" cellspacing="0">
  <tr class="labels">
    <th colspan="2">House</th>
    <th>Points</th>
    <th>Because</th>
    <th>How long ago?</th>
    <th class="comments">comments</th>
  </tr>
<% for delta in @deltas %>


  <tr class="stream_item stream_item_<%= delta.house.name.downcase %> ">

    <td class="house_image">
      <img src="/images/<%= delta.house.name.downcase %>_small.jpg" />
    </td>
    <td class="house_name">
      <span><%= delta.house.name %></span>
    </td>

    <td class="points">
      <span class="num_points <% if delta.quantity > 0 %>points_plus<% else %>points_minus<% end %>"><% if delta.quantity > 0 %>+<% else %>-<% end %><%= delta.quantity.abs%></span>
    </td>

    <td class="because"><%= delta.why %></td>
    <td class="when"><%= time_ago_in_words delta.created_at %></td>
    <td class="comments">
        <a id="comments_toggle_<%= delta.id %>" href="#" onclick="$('comments_<%= delta.id %>').setStyle('display', 'block');$('comments_toggle_<%= delta.id %>').setStyle('display', 'none'); return false;"><fb:comments-count href="http://housecup.heroku.com/student/stream?delta=<%= delta.id %>" xid="<%= delta.id %>" num_posts="10" publish_feed="false" width="500" simple="true"></fb:comments-count> comment(s)</a>
        <div class="comments_container" id="comments_<%= delta.id %>">
            <fb:comments href="http://housecup.heroku.com/student/stream?delta=<%= delta.id %>" xid="<%= delta.id %>" num_posts="10" publish_feed="false" width="500" simple="true"></fb:comments> 
        </div>
    </td>
  </tr>

<% end %>
</table>



<%= will_paginate @deltas %>
