<% set_page_title "add some shit" %>


<h1>Add a merit or demerit</h1>


<form method="post" action="<%= url_for :action => :new_delta_post %>">

  <div class="basic_form">


    <div class="form_group">
      <input id="plus_radio" type="radio" value="plus" name="direction"
      <% if @my_params[:direction] == "plus" %>
        checked="checked"
      <% end %>
      />
      <label for="plus_radio">PLUS</label>
  
    <input id="minus_radio" type="radio" value="minus" name="direction"
      <% if @my_params[:direction] == "minus" %>
        checked="checked"
      <% end %>
    />
    <label for="minus_radio">MINUS</label>
  </div>


  <div class="form_group">
    <input type="number" size="5" name="points" value="<%= @my_params[:points] %>"/>
    POINTS
    <span id="to_or_from">[[[fucking broken javascript bullshit]]]</span>
  </div>

  <div class="form_group">
    <select name="house">
      <option value="0" 
      <% if @my_params[:house].to_i == 0 %>
        selected="selected"
      <% end %>
      > </option>
    <% for house in @houses %>
      <option value="<%= house.id %>"
        <% if @my_params[:house].to_i == house.id %>
          selected="selected"
        <% end %>
      ><%= house.name.capitalize %></option>
    <% end %>
    </select> 
  </div>

  <div class="form_group">
    BECAUSE
  </div>

  <div class="form_group">
    <input type="text" name="why" value="<%= @my_params[:why] %>" />
  </div>


  <div class="form_group">
    <input class="submit" type="submit" />
  </div>

</div>
</form>




<script>
  function changeToOrFromText() {
    if($('plus_radio').checked) {
      $('to_or_from').set('text', 'TO');
    }
    else {
      $('to_or_from').set('text', 'FROM');
    }
  }

  window.addEvent('load', function() {
    changeToOrFromText();

    $('minus_radio').addEvent('change', function() {
      changeToOrFromText();
    });

    $('plus_radio').addEvent('change', function() {
      changeToOrFromText();
    });
  });
</script>
