<!DOCTYPE html>
<html>
<head>
  <title>Housecup</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    
    <div id="flashes">
      <%- flash.each do |key, msg| -%>
        <div  class="flash" id="<%= key %>">
          <p><%= msg %></p>
        </div>
      <%- end -%>
    </div> <!-- #flashes -->

    <% if @user %>
      <a href="<%= url_for :controller => :login, :action => :logout %>">logout</a>
    <% end %>

  <%= yield %>

</body>
</html>
